/* Custom Badges */

/* General */
#user-rollover .info .badge-box,
#chat-messages .badge-box {
    background: none !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* BurgerIsGooo */
#user-rollover.id-26609840 .badge-box i.bdg,
.id-26609840 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/burgerisgooo.gif");
}

/* Ene */
#user-rollover.id-26698397 .badge-box i.bdg,
.id-26698397 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/ene.png");
}

/* iHook */
#user-rollover.id-26603056 .badge-box i.bdg,
.id-26603056 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/ihook.gif");
}

/* Imanolix */
#user-rollover.id-5220843 .badge-box i.bdg,
.id-5220843 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/imanolix.png");
}

/* Jexi */
#user-rollover.id-4110949 .badge-box i.bdg,
.id-4110949 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/jexi.gif");
}

/* Kaspae */
#user-rollover.id-26613571 .badge-box i.bdg,
.id-26613571 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/kaspae.gif");
}

/* Laquett */
#user-rollover.id-4093788 .badge-box i.bdg,
.id-4093788 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/laquett.png");
}

/* Mrcl- */
#user-rollover.id-13585808 .badge-box i.bdg,
.id-13585808 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/mrcl.gif");
}

/* NB3 */
#user-rollover.id-6363341 .badge-box i.bdg,
.id-6363341 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/nb3.png");
}

/* PurpleOnix */
#user-rollover.id-26600442 .badge-box i.bdg,
.id-26600442 .badge-box i.bdg {
    background-image: url("https://i.imgur.com/dhOPMBR.gif");
}

/* Teddy */
#user-rollover.id-3788262 .badge-box i.bdg,
.id-3788262 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/Teddy.gif");
}

/* S4nari */
#user-rollover.id-3828485 .badge-box i.bdg,
.id-3828485 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/s4nari.png");
}

/* xUnique */
#user-rollover.id-17379609 .badge-box i.bdg,
.id-17379609 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/xunique.gif");
}

/* Zuzarc */
#user-rollover.id-34513858 .badge-box i.bdg,
.id-34513858 .badge-box i.bdg {
    background-image: url("https://nb3-music.github.io/badges/zarcas.gif");
}
